* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.square {
    width: 16px;
    height: 16px;
    background: #1d1d1d;
    border: 1px solid #111;
    box-shadow: 0 0 2px #000;
    transition: 1s ease;
}

.square:hover {
    transition-duration: 0s;
}