*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 400px;
    height:500px ;
    margin: 0 auto;
    border-radius: 20px;
    background :black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.timer{
    width: 200px;
    height: 200px;
    border-radius: 25%;
    border: 3px solid wheat;
    font-size: 42px;
    color:white;
    padding: 70px 10px;
    text-align: center;
    margin-bottom: 50px;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.start {
    background-color:white;
    margin-right: 30px;
    color: black;
}
.stop{
    background-color: red;
    color: black;
} 